@import url(https://fonts.googleapis.com/css?family=Roboto);

html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Tahoma;
}

@media all and (orientation: landscape) {
  body {
    position: fixed;
    height: 100%;
    width: 70vw;
    margin: 0;
    top: 50%;
    left: 50%;

    padding: 0;
    border-left: 3px solid #080808;
    border-right: 3px solid #080808;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

@media all and (orientation: portrait) {

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
  #kopfzeile {
    position: fixed;
    width: 100%;
    height: 5%;
    left: 50%;
    top: 2.5%;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    /*padding: 0.5%;*/
    margin: 0%;
    border-bottom: 3px solid #080808;
    border-top: 3px solid #080808;
    text-shadow: 0 -2px #080808, 2px 0 #080808, 0 2px #080808, -2px 0 #080808;
    background: linear-gradient(top, #0b7499 0%, #626262 100%);
    background: -webkit-linear-gradient(top, #0b7499 0%, #626262 100%);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #headerButtonMainpage {
    position: absolute;
    left: 80%;
    top: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }



  #anzeige {
    display: none;
  }



/*     NEW BRICK Anfang     */

  #newbrick {
    display: none;
  }

  #newBrickFormular {
    position: fixed;
    width: 100%;
    height: 65%;
    left: 50%;
    top: 37.5%;
    border: 3px solid rgba(83, 83, 83, 0.74);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #newBrickFormularHead {
    position: absolute;
    width: 94%;
    height: 10%;
    left: 50%;
    top: 5%;
    border: 3px solid red;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #newBrickFormularBody {
    position: absolute;
    width: 94%;
    height: 90%;
    left: 50%;
    top: 55%;
    border: 3px solid green;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .newBrickInput {
    position: absolute;
    width: 45%;
    left: 75%;
    top: 50%;
    border: 3px solid rgba(83, 83, 83, 0.74);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .newBrickDiv {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 50%;
    border: 3px solid rgba(83, 83, 83, 0.74);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #newBrickElementnummerDiv {
    top: 5%;
  }

  #newBrickDesignnummerDiv {
    top: 15%;
  }

  #newBrickNameDiv {
    top: 25%;
  }

  #newBrickFarbeDiv {
    top: 35%;
  }

  #newBrickMasseDiv {
    top: 45%;
  }

  #newBrickLagerortDiv {
    top: 55%;
  }

  #newBrickAnzahlDiv {
    top: 65%;
  }

  #newBrickNachbestellenDiv {
    top: 75%;
  }

  #newBrickSpeichern {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #newBrickButtonMainpage {
    position: absolute;
    left: 75%;
    top: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


/*     NEW BRICK Ende     */



/*     Anzeige Anfang     */

  #anzeige {
    height: 100%;
  }

  .anzeigeTabelle {
    height: 25.5%;
    border: 2px solid rgba(83, 83, 83, 0.74);
  }

  .anzeigeBilder {
    position: absolute;
    width: 100%;
    height: 80%;
    left: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    border: 2px solid red;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, -50%);
  }

  .anzeigeBeschreibungen {
    position: absolute;
    width: 70%;
    height: 25.5%;
    left: 65%;
    border: 2px solid blue;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, -50%);
  }

  .anzeigeEl {
    width: 50%;
  }
  .anzeigeDe {
    width: 50%;
  }
  .anzeigeNa {
    width: 50%;
  }
  .anzeigeMa {
    width: 50%;
  }
  .anzeigeLa {
    width: 50%;
  }
  .anzeigeAn {
    width: 50%;
  }
  .anzeigeNac {

  }

  .anzeigeAnzahlZahl {
    width: 30%;
  }

  .anzeigePlusOneButton {

  }

  .anzeigeMinusOneButton {

  }

  .anzeigeZeroButton {

  }

  .anzeigeAdd {
    width: 25%;
  }

  .anzeigeAddButton {

  }

  .keks {
    position: absolute;
    width: 30%;
    height: 25.5%;
    left: 15%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, -50%);
  }

  .anzeigeBearbeitenButton {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, -50%);
  }


/*     Anzeige Ende     */


/*     Edit Brick Anfang     */

  #editbrick {
    display: none;
  }







/*     Edit Brick Ende     */



/*     Mainpage Anfang     */

  #mainpageDaten {
    position: fixed;
    width: 100%;
    height: 30%;
    left: 50%;
    top: 20%;
    border: 3px solid rgba(83, 83, 83, 0.74);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageAnzahlAlleSteine {
    position: absolute;
    width: 40%;
    height: 35%;
    left: 25%;
    top: 50%;
    border-radius: 4px;
    border: 3px solid rgba(83, 83, 83, 0.74);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageAnzahlAlleSteineText {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageAnzahlAlleSteineAusgabe {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageAnzahlVerschiedeneSteine {
    position: absolute;
    width: 40%;
    height: 35%;
    top: 50%;
    left: 75%;
    border-radius: 4px;
    border: 3px solid rgba(83, 83, 83, 0.74);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageAnzahlVerschiedeneSteineText {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageAnzahlVerschiedeneSteineAusgabe {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageSuchkategorie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageSearchButton {
    position: fixed;
    width: 25%;
    height: 6%;
    left: 20%;
    top: 80%;
    border-radius: 4px;
    border: 3px solid rgba(83, 83, 83, 0.74);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageNachbestellungButton {
    position: fixed;
    width: 25%;
    height: 6%;
    left: 20%;
    top: 95%;
    border-radius: 4px;
    border: 3px solid rgba(83, 83, 83, 0.74);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageAddNewBrickButton {
    position: fixed;
    width: 25%;
    height: 6%;
    left: 50%;
    top: 95%;
    border-radius: 4px;
    border: 3px solid rgba(83, 83, 83, 0.74);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  #mainpageSearchAllBricksButton {
    position: fixed;
    width: 25%;
    height: 6%;
    left: 80%;
    top: 95%;
    border-radius: 4px;
    border: 3px solid rgba(83, 83, 83, 0.74);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }





  #elementnummerdiv {

  }

  #designnummerdiv {

  }

  #namediv {

  }

  #farbediv {

  }

  #massediv {

  }

  #lagerortdiv {

  }

  #anzahldiv {

  }

  #speichernNewBrick {
    margin: 5% 5% 0.5% 2.5%;
    color: #FFFFFF;
    padding: 1%;
    border: 3px solid #080808;
    border-radius: 20px;
    text-shadow: 0 -2px #080808, 2px 0 #080808, 0 2px #080808, -2px 0 #080808;
    background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  }

  #sucheAnzeigeGesucht {

  }
  #sucheAnzeigeFuer {

  }
  sucheAnzeigeErgebnisseFuerSuche {

  }
  sucheAnzeigeErgebnisseAnzahl {

  }