@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#kopfzeile {
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0.5%;
  margin: 0%;
  border-bottom: 3px solid #080808;
  border-top: 3px solid #080808;
  text-shadow: 0 -2px #080808, 2px 0 #080808, 0 2px #080808, -2px 0 #080808;
  background: linear-gradient(top, #0b7499 0%, #626262 100%);
  background: -webkit-linear-gradient(top, #0b7499 0%, #626262 100%);
}

#newbrick {
  display: none;
}

#anzeige {
  display: none;
}

#elementnummerdiv {
  margin: 0.5% 5% 0.5% 2.5%;
}
#designnummerdiv {
  margin: 0.5% 5% 0.5% 2.5%;
}
#namediv {
  margin: 0.5% 5% 0.5% 2.5%;
}
#farbediv {
  margin: 0.5% 5% 0.5% 2.5%;
}
#laengediv {
  margin: 0.5% 5% 0.5% 2.5%;
}
#breitediv {
  margin: 0.5% 5% 0.5% 2.5%;
}
#hoehediv {
  margin: 0.5% 5% 0.5% 2.5%;
}
#anzahldiv {
  margin: 0.5% 5% 0.5% 2.5%;
}
#speichernNewBrick {
  margin: 5% 5% 0.5% 2.5%;
}